body {
  // background-color: rgb(195, 237, 248);
  color: white;
  font-family: system-ui;
}

.app-header {
  height: 5vh;
  align-items: center;
  height: 5rem;
  background-color: #6f777d75;
  padding: 20px;
}

.app-main {
  min-height: 85vh;
  //   background-color: rgb(222, 250, 196);
}

.app-footer {
  height: 5vh;
}

canvas {
  background-color: rgb(207, 207, 231);
  margin-top: 65px;
}
